/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
  width: 500px;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
 }

 .card{
  display: flex;
  padding: 28px;
  line-height: 2;
  border-radius: 8px;
  background-color: darkcyan;
  transition: 1s;
 }

 .card:hover{
  background-color: rgba(0, 139, 139, 0.418);
  transition: 1s;
 }
 .question{
  background-color:rgba(255, 127, 80, 1);
 }

 .question:hover{
  background-color:rgba(255, 127, 80, 0.44);
 }
